:root {
    --teal: #06b6d4;
    --blue: #3b82f6;
    --lightgray: #cbd5e1;
    --gradient: linear-gradient(to right, var(--teal), var(--blue));
}

body {
    background-image: var(--gradient);
    font-family: "Lexend", sans-serif;
    accent-color: var(--blue);
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 100% !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 100% !important;
    width: 500px !important;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    width: 100% !important;
    max-width: 100% !important;
}

#result {
    flex: 1;
    max-width: 100% !important;
    width: 100% !important;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #f4f4f4;
    border: 1.5px solid #000 !important;
    outline: none;
}

.copy-result {
    background-color: #06b6d4;
    border: none;
    padding: 7px 7px 7px 7px;
    border-radius: 50%;
    position: absolute;
    right: 0 !important;
    margin-right: 5px;
    font-weight: 700;
    cursor: pointer;
    z-index: 999;
    font-size: 0.8rem;
    outline: none !important;
}

.share-result {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
    border: none;
    padding: 10px 10px 8px 10px;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: none !important;
}

.share-result:hover {
    background: var(--blue);
}

.copy-result:hover {
    color: blue !important;
}

input[type="text"] {
    padding: 15px 25px;
    width: 100% !important;
    max-width: 100% !important;
    border: 1px solid var(--lightgray);
    border-radius: 50px;
}

.generate-btn {
    background-image: var(--gradient);
    padding: 10px 10px 8px 10px;
    border: 0 !important;
    font-weight: 600;
    color: white;
    display: block;
    width: 70%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin: auto;
    outline: none !important;
}

.generate-btn:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background: var(--blue);
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex !important;
        width: 315px !important;
        max-width: 100% !important;
        padding: 20px;
        margin: 0 auto !important;
    }

    #box {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0 auto;
    }
}

button {
    -webkit-tap-highlight-color: transparent;
}
